body {
    background-color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif green;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    color: #4bb63d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #c57979;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.dropbtn {
    background-color: grey;
    color: rgb(126, 64, 64);
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: blueviolet;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(129, 101, 59);
}

h1 {
    color: purple;
    font-size: 36px
}

h2 {
    color: midnightblue;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgreen;
    font-size: 20px
}